body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 5rem;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-bottom: 22px;
}

.game-finished {
  color:  rgba(226, 21, 21);
}

.game-controllers {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.game-controllers > div {
  padding: 10px;
  padding-bottom: 0;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.game-restart > button {
  font-size: 15px;
  background: none;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding: 10px;
  margin: 1px;
  cursor: pointer;
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,.1);
}

.game-restart > button:hover {
  margin: 0;
  padding: 11px;
}

.game-restart > button:focus {
  outline: none;
}
